---
import { useTranslations } from '@/i18n/utils'
export interface Props {
	tag: string
}
const { tag } = Astro.props
const { lang } = Astro.params
const t = useTranslations(lang as any)
---

<a href={`${import.meta.env.BASE_URL}${lang}/tags/${t(`${tag}.slug` as any)}`} aria-label={tag}>
	<span
		class='bg-indigo-600 font-semibold text-white dark:bg-indigo-900 dark:text-white shadow text-sm w-fit px-2 py-1 md:px-5 md:py-2 rounded-full'
	>
		{t(tag as any) ?? 'Blog Tag'}
	</span>
</a>
